.background__dots {
  opacity: 0;
  z-index: -999;
  position: absolute;
  width: 160px;

  @include media-query($lg-up) {
    opacity: 1;
  }
}

.background__dots--left {
  left: 8rem;

  &.background__dots--front {
    left: 12rem;
  }
}

.background__dots--right {
  right: 8rem;

  &.background__dots--front {
    right: 12rem;
  }
}

.background__pr {
  position: absolute;
  z-index: 999;
  opacity: 0.02;
  width: 60rem;
}
