body {
  text-align: center;
  background-color: #00052F;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  color: red;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;

  em {
    font-weight: 300;
  }
}

p {
  font-family: 'Source Code Pro';
  color: white;
  text-transform: uppercase;
}

div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
